<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../../partials/sidebar.ejs') %> 
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Top Bar (Navbar) -->
                <%- include('../../partials/topbar') %> 
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"><%= title %> </h1>
                        <p><i class="<%= icon %> "></i> <span><%= title %></span></p>
                    </div>

                    <!-- Content -->
                    <div class="row">
                      <div class="col">
                        <table class="table">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">No</th>
                              <th scope="col">Nim</th>
                              <th scope="col">Nama</th>
                              <th scope="col">Judul Skripsi</th>
                              <th scope="col">Pembimbing</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <% if (bimbingan.length > 0) { %>
                                <% bimbingan.forEach((x, index) => { %>
                                  <form action="/admin/daftarskripsi" id="form-daftar">
                                    <input type="hidden" name="id" value="<%= x._id %>">
                                    <td><%= index+1 %></td>
                                    <td><%= x.nimMhs.username %></td>
                                    <td><%= x.namaMhs %></td>
                                    <td><%= x.judulSkripsi %></td>
                                    <td>
                                      <select id="pembimbing" name="pembimbing" class="form-control">
                                        <option value="<%= x.pembimbing._id %>"><%= x.pembimbing.nama %></option>
                                        <% dosen.forEach(x => { %>
                                          <option value="<%= x._id %>"><%= x.nama %></option>
                                        <% }) %>
                                      </select>
                                    </td>
                                    <td>
                                      <button class="btn btn-primary" type="submit">Terima</button>
                                      <!-- <a id="btnTerima" data-id="" class="btn btn-primary">Terima</a> -->
                                    </td>
                                  </form>
                                <% }) %>
                              <% } else { %>
                                <td><p>Belum ada mahasiswa daftar bimbingan skripsi.</p></td>
                              <% } %> 
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                </div>
            </div>
            <!-- Footer -->
            <%- include('../../partials/footer') %> 
        </div>
        <!-- End of Content Wrapper -->
    </div>

    <!-- Scroll to Top Button-->
    <%- include('../../partials/scrolltotop') %> 
    <!-- Logout Modal-->
    <%- include('../../partials/modalLogout') %> 
    <!-- Script -->
    <%- include('../../partials/script') %>
    <script>
      const forms = document.querySelectorAll('#form-daftar');

      forms.forEach(form => {
        form.addEventListener('submit', async (e) => {
          e.preventDefault();

          const id = form.id.value;
          const pembimbing = form.pembimbing.value;

          try {
            const res = await fetch('/admin/daftarskripsi', {
              method: 'put',
              body: JSON.stringify({ id, pembimbing }),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            if (data.redirect) {
              swal("Berhasil menerima pendaftaran!")
              .then(() => location.assign(data.redirect));
            }
          } catch (error) {
            console.log(error);
          }
        })
      })
    </script>
</body>
</html>